In [48]:
import pandas as pd
import numpy as np
from tensorflow import keras
from sklearn.linear_model import SGDRegressor
from Data_preparation_Library import *
from scipy import signal
from pickle import dump, load

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn import svm

In [106]:
df = pd.read_excel('Subjects\Deepti\marker_data/filling_data.xlsx')
df

,RELB_X,RELB_Y,RELB_Z,RM1_X,RM1_Y,RM1_Z,RFRM_X,RFRM_Y,RFRM_Z
0,-175.463,1413.70,1246.63,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
1,-175.427,1413.68,1246.74,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
2,-175.389,1413.65,1246.87,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
3,-175.352,1413.64,1246.95,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
4,-175.313,1413.63,1247.03,-233.226,1333.85,1243.50,-189.732,1282.51,1129.40
...,...,...,...,...,...,...,...,...,...
13795,-194.676,1472.95,1275.22,-251.386,1390.20,1277.45,-261.433,1461.99,1255.86
13796,-194.607,1473.03,1275.23,-251.386,1390.20,1277.45,-261.377,1462.08,1255.88
13797,-194.563,1473.10,1275.28,-251.386,1390.20,1277.45,-261.361,1462.12,1255.87
13798,-194.496,1473.17,1275.32,-251.386,1390.20,1277.45,-261.346,1462.21,1255.85
13799,-194.424,1473.23,1275.36,-251.386,1390.20,1277.45,-261.222,1462.33,1255.97

In [107]:
X = df[['RELB_X', 'RELB_Y', 'RELB_Z', 'RFRM_X','RFRM_Y', 'RFRM_Z']]
y_x = df['RM1_X']
y_y = df['RM1_Y']
y_z = df['RM1_Z']

In [108]:
X_train, X_test, y_train, y_test = train_test_split(X, y_y,test_size=0.2)
y_train, y_test = np.array(y_train).reshape((y_train.shape[0],1)), np.array(y_test).reshape((y_test.shape[0],1))
for data in [X_train, X_test, y_train, y_test]:
    print(data.shape)

(11040, 6)
(2760, 6)
(11040, 1)
(2760, 1)

In [109]:
import numpy as np
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# Always scale the input. The most convenient way is to use a pipeline.
scaler = StandardScaler()
X = scaler.fit_transform(X)
reg_x = SGDRegressor(max_iter=10000, n_iter_no_change = 5)
reg_y = SGDRegressor(max_iter=10000, n_iter_no_change = 5)
reg_z = SGDRegressor(max_iter=10000, n_iter_no_change = 5, tol = 0.00000000000001)

reg_x.fit(X, y_x)
reg_y.fit(X, y_y)
reg_z.fit(X, y_z)

SGDRegressor(max_iter=10000, tol=1e-14)

In [110]:
print(reg_x.score(X, y_x))
print(reg_y.score(X, y_y))
print(reg_z.score(X, y_z))

0.9563528030066684
0.9827861401746689
0.7780946240438461

In [111]:
hdf = pd.read_excel('Subjects/Deepti/marker_data/hammer02_rm1_regression.xlsx')
hdf

,RELB_X,RELB_Y,RELB_Z,RM1_X,RM1_Y,RM1_Z,RFRM_X,RFRM_Y,RFRM_Z
0,-203.736,1404.92,1222.17,NaN,NaN,NaN,-271.763,1394.40,1189.50
1,-204.260,1404.35,1227.03,NaN,NaN,NaN,-272.387,1393.98,1195.38
2,-203.073,1403.32,1231.95,NaN,NaN,NaN,-272.895,1393.64,1200.91
3,-203.275,1402.86,1236.15,NaN,NaN,NaN,-273.212,1393.29,1206.06
4,-204.895,1402.92,1239.52,NaN,NaN,NaN,-273.361,1392.98,1210.80
...,...,...,...,...,...,...,...,...,...
2695,-201.682,1402.52,1274.75,NaN,NaN,NaN,-269.211,1394.09,1257.24
2696,-201.631,1402.38,1274.86,NaN,NaN,NaN,-269.160,1393.94,1257.38
2697,-201.590,1402.26,1275.01,NaN,NaN,NaN,-269.103,1393.76,1257.59
2698,-201.591,1402.15,1275.20,NaN,NaN,NaN,-269.087,1393.57,1257.77
2699,-201.557,1402.00,1275.35,NaN,NaN,NaN,-269.102,1393.38,1257.89

In [112]:
X = hdf[['RELB_X', 'RELB_Y', 'RELB_Z', 'RFRM_X','RFRM_Y', 'RFRM_Z']]
scaler = StandardScaler()
X = scaler.fit_transform(X)
hdf['RM1_X'] = reg_x.predict(X)
hdf['RM1_Z'] = reg_y.predict(X)
hdf['RM1_Y'] = reg_z.predict(X)

In [113]:
hdf

,RELB_X,RELB_Y,RELB_Z,RM1_X,RM1_Y,RM1_Z,RFRM_X,RFRM_Y,RFRM_Z
0,-203.736,1404.92,1222.17,-220.236494,1178.910204,1369.733177,-271.763,1394.40,1189.50
1,-204.260,1404.35,1227.03,-221.448354,1181.890239,1368.857292,-272.387,1393.98,1195.38
2,-203.073,1403.32,1231.95,-219.850078,1183.986806,1367.153012,-272.895,1393.64,1200.91
3,-203.275,1402.86,1236.15,-220.548000,1186.688265,1366.376434,-273.212,1393.29,1206.06
4,-204.895,1402.92,1239.52,-223.526738,1189.807151,1366.486008,-273.361,1392.98,1210.80
...,...,...,...,...,...,...,...,...,...
2695,-201.682,1402.52,1274.75,-223.250550,1216.612139,1363.221106,-269.211,1394.09,1257.24
2696,-201.631,1402.38,1274.86,-223.131507,1216.663244,1363.020218,-269.160,1393.94,1257.38
2697,-201.590,1402.26,1275.01,-223.061730,1216.813322,1362.835743,-269.103,1393.76,1257.59
2698,-201.591,1402.15,1275.20,-223.061805,1216.983705,1362.672075,-269.087,1393.57,1257.77
2699,-201.557,1402.00,1275.35,-222.979927,1217.048093,1362.459942,-269.102,1393.38,1257.89

In [116]:
hdf.to_excel('hammer02_rm1.xlsx')

# Find Normalizaion Parameter

In [50]:
files = []
subjects = ['Fazil','Nikhil','Ingy','Abhishek','Varun','Jai', 'Deepti', 'Nirmayee'] #'Fazil/day_04_14_21'

In [51]:
for subj in subjects:
    path = 'Subjects/'+subj
    # trial_names = ['Bulb','Hammer'] # 'Bulb','Hammer' ,'Cup','Screw'
    trial_names = ['Hammer' ,'Cup', 'Bulb','Screw'] #,
    for exp in trial_names:
        for i in range(3):
            if(i==0):
                files.append(path+'/computed_'+exp+'.csv')
            else:
                files.append(path+'/computed_'+exp+'0'+str(i)+'.csv')
files

['Subjects/Fazil/computed_Hammer.csv',
 'Subjects/Fazil/computed_Hammer01.csv',
 'Subjects/Fazil/computed_Hammer02.csv',
 'Subjects/Fazil/computed_Cup.csv',
 'Subjects/Fazil/computed_Cup01.csv',
 'Subjects/Fazil/computed_Cup02.csv',
 'Subjects/Fazil/computed_Bulb.csv',
 'Subjects/Fazil/computed_Bulb01.csv',
 'Subjects/Fazil/computed_Bulb02.csv',
 'Subjects/Fazil/computed_Screw.csv',
 'Subjects/Fazil/computed_Screw01.csv',
 'Subjects/Fazil/computed_Screw02.csv',
 'Subjects/Nikhil/computed_Hammer.csv',
 'Subjects/Nikhil/computed_Hammer01.csv',
 'Subjects/Nikhil/computed_Hammer02.csv',
 'Subjects/Nikhil/computed_Cup.csv',
 'Subjects/Nikhil/computed_Cup01.csv',
 'Subjects/Nikhil/computed_Cup02.csv',
 'Subjects/Nikhil/computed_Bulb.csv',
 'Subjects/Nikhil/computed_Bulb01.csv',
 'Subjects/Nikhil/computed_Bulb02.csv',
 'Subjects/Nikhil/computed_Screw.csv',
 'Subjects/Nikhil/computed_Screw01.csv',
 'Subjects/Nikhil/computed_Screw02.csv',
 'Subjects/Ingy/computed_Hammer.csv',
 'Subjects/Ingy/computed_Hammer01.csv',
 'Subjects/Ingy/computed_Hammer02.csv',
 'Subjects/Ingy/computed_Cup.csv',
 'Subjects/Ingy/computed_Cup01.csv',
 'Subjects/Ingy/computed_Cup02.csv',
 'Subjects/Ingy/computed_Bulb.csv',
 'Subjects/Ingy/computed_Bulb01.csv',
 'Subjects/Ingy/computed_Bulb02.csv',
 'Subjects/Ingy/computed_Screw.csv',
 'Subjects/Ingy/computed_Screw01.csv',
 'Subjects/Ingy/computed_Screw02.csv',
 'Subjects/Abhishek/computed_Hammer.csv',
 'Subjects/Abhishek/computed_Hammer01.csv',
 'Subjects/Abhishek/computed_Hammer02.csv',
 'Subjects/Abhishek/computed_Cup.csv',
 'Subjects/Abhishek/computed_Cup01.csv',
 'Subjects/Abhishek/computed_Cup02.csv',
 'Subjects/Abhishek/computed_Bulb.csv',
 'Subjects/Abhishek/computed_Bulb01.csv',
 'Subjects/Abhishek/computed_Bulb02.csv',
 'Subjects/Abhishek/computed_Screw.csv',
 'Subjects/Abhishek/computed_Screw01.csv',
 'Subjects/Abhishek/computed_Screw02.csv',
 'Subjects/Varun/computed_Hammer.csv',
 'Subjects/Varun/computed_Hammer01.csv',
 'Subjects/Varun/computed_Hammer02.csv',
 'Subjects/Varun/computed_Cup.csv',
 'Subjects/Varun/computed_Cup01.csv',
 'Subjects/Varun/computed_Cup02.csv',
 'Subjects/Varun/computed_Bulb.csv',
 'Subjects/Varun/computed_Bulb01.csv',
 'Subjects/Varun/computed_Bulb02.csv',
 'Subjects/Varun/computed_Screw.csv',
 'Subjects/Varun/computed_Screw01.csv',
 'Subjects/Varun/computed_Screw02.csv',
 'Subjects/Jai/computed_Hammer.csv',
 'Subjects/Jai/computed_Hammer01.csv',
 'Subjects/Jai/computed_Hammer02.csv',
 'Subjects/Jai/computed_Cup.csv',
 'Subjects/Jai/computed_Cup01.csv',
 'Subjects/Jai/computed_Cup02.csv',
 'Subjects/Jai/computed_Bulb.csv',
 'Subjects/Jai/computed_Bulb01.csv',
 'Subjects/Jai/computed_Bulb02.csv',
 'Subjects/Jai/computed_Screw.csv',
 'Subjects/Jai/computed_Screw01.csv',
 'Subjects/Jai/computed_Screw02.csv',
 'Subjects/Deepti/computed_Hammer.csv',
 'Subjects/Deepti/computed_Hammer01.csv',
 'Subjects/Deepti/computed_Hammer02.csv',
 'Subjects/Deepti/computed_Cup.csv',
 'Subjects/Deepti/computed_Cup01.csv',
 'Subjects/Deepti/computed_Cup02.csv',
 'Subjects/Deepti/computed_Bulb.csv',
 'Subjects/Deepti/computed_Bulb01.csv',
 'Subjects/Deepti/computed_Bulb02.csv',
 'Subjects/Deepti/computed_Screw.csv',
 'Subjects/Deepti/computed_Screw01.csv',
 'Subjects/Deepti/computed_Screw02.csv',
 'Subjects/Nirmayee/computed_Hammer.csv',
 'Subjects/Nirmayee/computed_Hammer01.csv',
 'Subjects/Nirmayee/computed_Hammer02.csv',
 'Subjects/Nirmayee/computed_Cup.csv',
 'Subjects/Nirmayee/computed_Cup01.csv',
 'Subjects/Nirmayee/computed_Cup02.csv',
 'Subjects/Nirmayee/computed_Bulb.csv',
 'Subjects/Nirmayee/computed_Bulb01.csv',
 'Subjects/Nirmayee/computed_Bulb02.csv',
 'Subjects/Nirmayee/computed_Screw.csv',
 'Subjects/Nirmayee/computed_Screw01.csv',
 'Subjects/Nirmayee/computed_Screw02.csv']

In [52]:
files_df = []
for file in files:
    files_df.append(pd.read_csv(file,index_col=0))

In [53]:
def filter_df(files_df,order=1,cf=50,fs=2000):
    b,a = signal.butter(1, 50,fs=fs)
    for i in range(len(files_df)):
        emg_df = pd.DataFrame(columns=emg_labels)
        for labels in emg_labels:
            emg_df[labels] = signal.lfilter(b, a,files_df[i][labels])
        files_df[i][emg_labels] = np.array(emg_df)
    return files_df

In [54]:
emg_labels = ['EMG1','EMG2','EMG3','EMG4','EMG5','EMG6','EMG7','EMG8']

In [55]:
files_df = filter_df(files_df)

In [56]:
df_final = pd.concat(files_df, ignore_index = True)
scaler = StandardScaler()
n_val = scaler.fit_transform(df_final[emg_labels].values)
emg_df_final = pd.DataFrame(data=n_val,columns=emg_labels)

In [57]:
emg_df_final

,EMG1,EMG2,EMG3,EMG4,EMG5,EMG6,EMG7,EMG8
0,-0.008494,0.355862,0.366712,-0.083768,0.292029,-1.516060,0.427902,0.019470
1,-0.034869,0.304816,0.515473,-0.041275,0.188197,-1.287549,0.366472,0.193742
2,-0.201911,0.244045,0.644347,-0.007259,0.093076,-1.061177,0.322913,0.199373
3,-0.400554,0.185979,0.754936,0.015125,0.001886,-0.845916,0.295519,0.157716
4,-0.499936,0.136773,0.851249,0.030127,-0.081989,-0.646595,0.275112,0.138564
...,...,...,...,...,...,...,...,...
6095995,1.086622,-0.029279,0.014038,-0.036316,0.031171,0.203530,0.128965,1.509628
6095996,1.200870,0.010861,0.016748,0.022739,0.035532,0.223819,0.133881,1.516274
6095997,1.288748,0.053368,0.017557,0.072236,0.042534,0.222724,0.135016,1.538483
6095998,1.336726,0.080041,0.018019,0.121197,0.050808,0.205092,0.133562,1.571354
6095999,1.341333,0.081449,0.019920,0.176179,0.057548,0.180245,0.132575,1.608070

In [58]:
dump(scaler, open('standard_scaler_master.pkl', 'wb'))

In [59]:
scaler2 = load(open('standard_scaler_master.pkl', 'rb'))